.card {
    width: 190px;
    height: 200px;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
    color: var(--primaryTextColor);
  }