/*--------------------------------------------------------------
                  # NAVBAR
--------------------------------------------------------------*/
.navbar {
  width: 100vw;
  font-size: 1rem;
  font-weight: 900;
  background-color: var(--backgroundColor);
  background-color: rgba(255, 255, 255, 0.7);
}

.nav-links {
  margin: 1rem;
  text-decoration: none;
  color: var(--linkColor);
  text-transform: capitalize;
}

.active {
  color: var(--accentColor);
  border-radius: 0 0.7rem;
}

@media only screen and (min-width: 768px) {
  .navbar {
    font-size: 1.2rem;
  }
  .active{
    color: var(--accentColor);
  }
}

@media only screen and (min-width: 1024px) {
.navbar{
  background-color: transparent;
}
}