/*--------------------------------------------------------------
                  # NAVBAR
--------------------------------------------------------------*/
.navbar {
  width: 100vw;
  font-size: 1rem;
  text-shadow: 1px 1px 1px #000000;
  font-weight: bolder;
  background-color: var(--backgroundColor);
}

.nav-links {
  margin: 1rem;
  text-decoration: none;
  color: var(--linkColor);
  text-transform: uppercase;
}

.active {
  color: var(--accentColor);
  border-radius: 0 0.7rem;
  box-shadow: 0 -2px 2px var(--primaryColor), 0 2px 2px var(--primaryColor);
}
