/* Variable declarations */
:root {
  --backgroundColor: white;
  --primaryTextColor: #242424;
  --linkColor: #0563bb;
  }

/* My Breakpoints */
/* sm=480 - mobile
   md=768 - tablets
   lg=1024 - laptops
   xl=1280 - larger screens */

/* Mobile first responsiveness :) */
/* Phone 480 - 767 */